<aside class="sidebar">
  <div class="sidebar__header">
    <img class="sidebar__header-image" src="assets/images/sidebar_img.jpg" alt="">
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="assets/images/DROAN.jpg" alt="">
      <h3 class="profile__name">Yehor Androsov</h3>
      <p class="profile__prof">Front End Developer</p>
    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="https://www.instagram.com/egorandro/" target="_blank">
          <img src="assets/images/instagram.svg" alt="Egor Andro Instagram">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://t.me/Egor_Andro" target="_blank">
          <img src="assets/images/telegram.svg" alt="Telegram">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img src="assets/images/linkedin.svg" alt="LinkedIn">
        </a>
      </li>
    </ul>
    <div class="profile__text">
      <p>Junior Front end developer. Website development practice.
      </p>
    </div>
    </div>
  </div>
  <div class="sidebar__footer">
    <a href="works.html" class="btn btn__red">My works</a>
    <button type="button" class="btn btn__blue">Write me</button>
  </div>
</aside>